<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Name</title>
    <link rel="stylesheet" href="/Joshi.css">
</head>

<body>
    <div id="product-details">
        <section id="product">
            <img src="./istockphoto-1303978937-612x612.jpg" alt="" height="400px">
        </section>
        <section class="product-details">
            <h1 id="pr-name">Nike Sport Shoes Z1005</h1>
            <h3 id="price">Price:<span>$456</span></h3>
            <h4 id="quan-sold">Quantity Sold:<span>26</span></h4>
            <h5 id="amazonsale">Quantity Sold On Amazon: <span>19</span></h5>
            <h5 id="flipkartsale">Quantity Sold On Flipkart: <span>5</span></h5>
            <h5 id="myntrasale">Quantity Sold On Myntra: <span>2</span></h5>
        </section>

    </div>

</body>

</html>